# Unified Keymap Configuration

layers:
  BASE_NIGHT:
    core: # (3x5)
      left:
        - [B              , F              , L              , K              , Q              ]
        - [hrm:LGUI:N     , hrm:LALT:S     , hrm:LCTL:H     , hrm:LSFT:T     , M              ]
        - [X              , V              , J              , D              , Z              ]
      right:
        - [P              , G              , O              , U              , DOT            ]
        - [Y              , hrm:RSFT:C     , hrm:RCTL:A     , hrm:RALT:E     , hrm:RGUI:I     ]
        - [QUOT           , W              , SLSH           , SCLN           , COMM           ]
      thumbs:
        - [lt:MEDIA:ENT   , lt:NAV:R              , mt:LSFT:TAB    ]
        - [lt:SYM:DEL    , mt:RSFT:SPC     , lt:NUM:BSPC    ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, ENT, NONE]
      3x5_3_pinky:
        outer_pinky_left: LBRC
        outer_pinky_right: RBRC

  BASE_NIGHT_V2:
    core: # (3x5)
      left:
        - [B              , F              , L              , K              , Q              ]
        - [hrm:LGUI:N     , hrm:LALT:S     , hrm:LCTL:H     , hrm:LSFT:T     , M              ]
        - [X              , V              , J              , D              , Z              ]
      right:
        - [P              , G              , O              , U              , DOT            ]
        - [Y              , hrm:RSFT:C     , hrm:RCTL:A     , hrm:RALT:E     , hrm:RGUI:I     ]
        - [QUOT           , W              , MINS           , SCLN           , COMM           ]
      thumbs:
        - [lt:NUM_NIGHT_V2:BSPC   , lt:SYM_NIGHT_V2:R              , mt:LSFT:DEL    ]
        - [mt:LSFT:TAB    , lt:NAV_NIGHT_V2:SPC     , lt:MEDIA_NIGHT_V2:ENT    ]

        # constraints
        # Space and R are used frequently, so should be opposite
        # R must be shiftable, so should be opposite
        # Shift and Space form an SFB, must be oppositeaie
        #
        # NAV on R (was on MEDIA, moved to MEDIA:ENT)
        # NUM on R
        # SYM on L
        # Shift mod-taps on thumb keys (TAB/DEL) don't use chordal hold
        #
        # future idea: ENT on R ring finger
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, ENT, NONE]
      3x5_3_pinky:
        outer_pinky_left: LBRC  # future magic
        outer_pinky_right: RBRC # future magic

  BASE_COLEMAK:
    core: # (3x5)
      left:
        - [Q              , W              , F              , P              , G              ]
        - [hrm:LGUI:A     , hrm:LALT:R     , hrm:LCTL:S     , hrm:LSFT:T     , D              ]
        - [Z              , X              , C              , V              , B              ]
      right:
        - [J              , L              , U              , Y              , QUOT           ]
        - [H              , hrm:RSFT:N     , hrm:RCTL:E     , hrm:RALT:I     , hrm:RGUI:O     ]
        - [K              , M              , COMM           , DOT            , SLSH           ]
      thumbs:
        - [ENT            , lt:NAV:SPC     , lt:MEDIA:TAB   ]
        - [lt:SYM:DEL     , LSFT           , lt:NUM:BSPC    ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, ENT, NONE]
      3x5_3_pinky:
        outer_pinky_left: LBRC
        outer_pinky_right: RBRC

  NUM:
    core: # (3x5)
      left:
        - [LBRC           , 4              , 5              , 6              , RBRC           ]
        - [SLSH           , 1              , 2              , 3              , EQL            ]
        - [GRV            , 7              , 8              , 9              , BSLS           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [COLN           , 0              , MINS           ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, LCBR, NONE]
        outer_pinky_right: [NONE, RCBR, NONE]
      3x5_3_pinky:
        outer_pinky_left: LCBR
        outer_pinky_right: RCBR

  SYM:
    core: # (3x5)
      left:
        - [LCBR           , DLR            , PERC           , CIRC           , RCBR           ]
        - [QUES           , EXLM           , AT             , HASH           , PLUS           ]
        - [TILD           , AMPR           , ASTR           , COLN           , PIPE           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , NONE        ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [DFU            , NONE           , NONE           , NONE           , NONE                ]
      thumbs:
        - [LPRN           , RPRN           , UNDS           ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  NAV:
    core: # (3x5)
      left:
        - [BT_SEL_0       , BT_SEL_1       , BT_SEL_2       , BT_SEL_3       , BT_CLR         ]
        - [LGUI           , LALT           , LCTL           , LSFT           , NONE           ]
        - [UNDO           , CUT            , COPY           , PASTE          , REDO           ]
      right:
        - [ESC            , NONE           , NONE           , NONE           , NONE           ]
        - [CAPS           , LEFT           , DOWN           , UP             , RGHT           ]
        - [INS            , HOME           , PGDN           , PGUP           , END            ]
      thumbs:
        - [NONE           , NONE           , NONE           ]
        - [DEL            , ENT            , BSPC           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  MEDIA:
    core: # (3x5)
      left:
        - [df:BASE_NIGHT  , df:BASE_NIGHT_V2, df:BASE_COLEMAK, NONE           , NONE           ]
        - [LGUI           , LALT           , LCTL           , LSFT           , NONE           ]
        - [NONE           , NONE           , NONE           , NONE           , DFU           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , NONE]
        - [NONE           , MPRV           , VOLD           , VOLU           , MNXT           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [NONE           , NONE           , NONE           ]
        - [MSTP           , MPLY           , MUTE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  FUN:
    core: # (3x5)
      left:
        - [F12            , F7             , F8             , F9             , PSCR           ]
        - [F11            , F4             , F5             , F6             , SCRL           ]
        - [F10            , F1             , F2             , F3             , PAUS           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [APP            , SPC            , TAB            ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  # Night-specific layers (hands flipped compared to original)
  NUM_NIGHT_V2:
    core: # (3x5)
      left:
        - [NONE           , LBRC           , RBRC           , PERC           , NONE           ]
        - [LGUI           , LALT           , LCTL           , LSFT           , PIPE           ]
        - [UNDO           , CUT            , COPY           , PASTE          , REDO           ]
      right:
        - [CIRC           , 7              , 8              , 9              , DOT            ]
        - [HASH           , 4              , 5              , 6              , GRV            ]
        - [DLR            , 1              , 2              , 3              , TILD           ]
      thumbs:
        - [NONE           , NONE           , NONE           ]
        - [COLN           , 0              , AT             ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  SYM_NIGHT_V2:
    core: # (3x5)
      left:
        - [ASTR           , PERC           , DLR            , DQUO           , NONE           ]
        - [LGUI           , LALT           , LCTL           , LSFT           , BSLS           ]
        - [NONE           , NONE           , NONE           , AMPR           , NONE           ]
      right:
        - [PLUS           , LABK           , LCBR           , RCBR           , RABK           ]
        - [EXLM           , EQL            , LPRN           , RPRN           , SCLN           ]
        - [UNDS           , MINS           , LBRC           , RBRC           , COLN           ]
      thumbs:
        - [NONE           , NONE           , NONE           ]
        - [QUES           , SPC            , SLSH           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  NAV_NIGHT_V2:
    core: # (3x5)
      left:
        - [NONE           , PGUP           , NONE           , NONE           , ESC            ]
        - [NONE           , LEFT           , UP             , RGHT           , CAPS ]
        - [END            , PGDN           , DOWN           , HOME           , INS            ]
      right:
        - [BT_SEL_0       , BT_SEL_1       , BT_SEL_2       , BT_SEL_3       , BT_CLR         ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [BSPC           , ENT            , DEL            ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  MEDIA_NIGHT_V2:
    core: # (3x5)
      left:
        - [df:BASE_NIGHT  , df:BASE_NIGHT_V2, df:BASE_COLEMAK, NONE           , NONE           ]
        - [MNXT           , VOLU           , VOLD           , MPRV           , NONE           ]
        - [UNDO           , CUT            , COPY           , PASTE          , REDO           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [NONE           , NONE           , NONE           , NONE           , DFU            ]
      thumbs:
        - [MUTE           , MPLY           , MSTP           ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

