# Unified Keymap Configuration

layers:
  BASE_COLEMAK:
    core: # (3x5)
      left:
        - [Q              , W              , F              , P              , G              ]
        - [hrm:LGUI:A     , hrm:LALT:R     , hrm:LCTL:S     , hrm:LSFT:T     , D              ]
        - [Z              , X              , C              , V              , B              ]
      right:
        - [J              , L              , U              , Y              , QUOT           ]
        - [H              , hrm:RSFT:N     , hrm:RCTL:E     , hrm:RALT:I     , hrm:RGUI:O     ]
        - [K              , M              , COMM           , DOT            , SLSH           ]
      thumbs:
        - [ENT            , lt:NAV:SPC     , lt:MEDIA:TAB   ]
        - [lt:SYM:DEL     , LSFT           , lt:NUM:BSPC    ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, ENT, NONE]
      3x5_3_pinky:
        outer_pinky_left: LBRC
        outer_pinky_right: RBRC

  BASE_GALLIUM:
    core: # (3x5)
      left:
        - [B              , L              , D              , C              , V              ]
        - [hrm:LGUI:N     , hrm:LALT:R     , hrm:LCTL:T     , hrm:LSFT:S     , G              ]
        - [X              , Q              , M              , W              , Z              ]
      right:
        - [J              , Y              , O              , U              , COMM           ]
        - [P              , hrm:RSFT:H     , hrm:RCTL:A     , hrm:RALT:E     , hrm:RGUI:I     ]
        - [K              , F              , QUOT           , SCLN           , DOT            ]
      thumbs:
        - [ENT            , lt:NAV:SPC     , lt:MEDIA:TAB   ]
        - [lt:SYM:DEL     , LSFT           , lt:NUM:BSPC    ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, LBRC, NONE]
        outer_pinky_right: [NONE, RBRC, NONE]
      3x5_3_pinky:
        outer_pinky_left: LBRC
        outer_pinky_right: RBRC

  BASE_NIGHT:
    core: # (3x5)
      left:
        - [B              , F              , L              , K              , Q              ]
        - [hrm:LGUI:N     , hrm:LALT:S     , hrm:LCTL:H     , hrm:LSFT:T     , M              ]
        - [X              , V              , J              , D              , Z              ]
      right:
        - [P              , G              , O              , U              , DOT            ]
        - [Y              , hrm:RSFT:C     , hrm:RCTL:A     , hrm:RALT:E     , hrm:RGUI:I     ]
        - [QUOT           , W              , SLSH           , SCLN           , COMM           ]
      thumbs:
        - [lt:MEDIA:ENT   , R              , mt:LSFT:TAB    ]
        - [mt:LSFT:DEL    , lt:SYM:SPC     , lt:NUM:BSPC    ]

        # constraints
        # Space and R are used frequently, so should be opposite
        # R must be shiftable, so should be opposite
        # Shift and Space form an SFB, must be opposite
        #
        # NAV on R (was on MEDIA, moved to MEDIA:ENT)
        # NUM on R
        # SYM on L
        # Shift mod-taps on thumb keys (TAB/DEL) don't use chordal hold
        #
        # future idea: ENT on R ring finger
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, ENT, NONE]
      3x5_3_pinky:
        outer_pinky_left: LBRC
        outer_pinky_right: RBRC

  NUM:
    core: # (3x5)
      left:
        - [LBRC           , 4              , 5              , 6              , RBRC           ]
        - [SLSH           , 1              , 2              , 3              , EQL            ]
        - [GRV            , 7              , 8              , 9              , BSLS           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [COLN           , 0              , MINS           ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, LCBR, NONE]
        outer_pinky_right: [NONE, RCBR, NONE]
      3x5_3_pinky:
        outer_pinky_left: LCBR
        outer_pinky_right: RCBR

  SYM:
    core: # (3x5)
      left:
        - [LCBR           , DLR            , PERC           , CIRC           , RCBR           ]
        - [QUES           , EXLM           , AT             , HASH           , PLUS           ]
        - [TILD           , AMPR           , ASTR           , COLN           , PIPE           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , NONE        ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [DFU            , NONE           , NONE           , NONE           , NONE                ]
      thumbs:
        - [LPRN           , RPRN           , UNDS           ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  NAV:
    core: # (3x5)
      left:
        - [BT_SEL_0       , BT_SEL_1       , BT_SEL_2       , BT_SEL_3       , BT_CLR         ]
        - [LGUI           , LALT           , LCTL           , LSFT           , NONE           ]
        - [UNDO           , CUT            , COPY           , PASTE          , REDO           ]
      right:
        - [ESC            , NONE           , NONE           , NONE           , NONE           ]
        - [CAPS           , LEFT           , DOWN           , UP             , RGHT           ]
        - [INS            , HOME           , PGDN           , PGUP           , END            ]
      thumbs:
        - [NONE           , NONE           , NONE           ]
        - [DEL            , ENT            , BSPC           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  MEDIA:
    core: # (3x5)
      left:
        - [df:BASE_COLEMAK, df:BASE_GALLIUM, df:BASE_NIGHT  , NONE           , NONE           ]
        - [LGUI           , LALT           , LCTL           , LSFT           , NONE           ]
        - [NONE           , NONE           , NONE           , NONE           , DFU           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , NONE]
        - [NONE           , MPRV           , VOLD           , VOLU           , MNXT           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [NONE           , NONE           , NONE           ]
        - [MSTP           , MPLY           , MUTE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  FUN:
    core: # (3x5)
      left:
        - [F12            , F7             , F8             , F9             , PSCR           ]
        - [F11            , F4             , F5             , F6             , SCRL           ]
        - [F10            , F1             , F2             , F3             , PAUS           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [APP            , SPC            , TAB            ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

