# Unified Keymap Configuration

layers:
  BASE:
    core: # (3x5)
      left:
        - [Q              , W              , F              , P              , G              ]
        - [hrm:LGUI:A     , hrm:LALT:R     , hrm:LCTL:S     , hrm:LSFT:T     , D              ]
        - [Z              , X              , C              , V              , B              ]
      right:
        - [J              , L              , U              , Y              , QUOT           ]
        - [H              , hrm:RSFT:N     , hrm:RCTL:E     , hrm:RALT:I     , hrm:RGUI:O     ]
        - [K              , M              , COMM           , DOT            , lt:FUN:SLSH    ]
      thumbs:
        - [ENT            , lt:NAV:SPC     , lt:MEDIA:TAB   ]
        - [lt:SYM:DEL     , LSFT           , lt:NUM:BSPC    ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, LBRC, NONE]
        outer_pinky_right: [NONE, RBRC, NONE]
      3x5_3_pinky:
        outer_pinky_left: LBRC
        outer_pinky_right: RBRC

  NUM:
    core: # (3x5)
      left:
        - [LBRC           , 4              , 5              , 6              , RBRC           ]
        - [SCLN           , 1              , 2              , 3              , EQL            ]
        - [GRV            , 7              , 8              , 9              , BSLS           ]
      right:
        - [NONE           , BT_SEL_0       , BT_SEL_1       , BT_SEL_2       , BT_CLR         ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [COLN           , 0              , MINS           ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, LCBR, NONE]
        outer_pinky_right: [NONE, RCBR, NONE]
      3x5_3_pinky:
        outer_pinky_left: LCBR
        outer_pinky_right: RCBR

  SYM:
    core: # (3x5)
      left:
        - [LCBR           , DLR            , PERC           , CIRC           , RCBR           ]
        - [COLN           , EXLM           , AT             , HASH           , PLUS           ]
        - [TILD           , AMPR           , ASTR           , LPRN           , PIPE           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , QK_BOOT        ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [LPRN           , RPRN           , UNDS           ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  NAV:
    core: # (3x5)
      left:
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
        - [LGUI           , LALT           , LCTL           , LSFT           , NONE           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      right:
        - [ESC            , NONE           , NONE           , NONE           , NONE           ]
        - [CAPS           , LEFT           , DOWN           , UP             , RGHT           ]
        - [INS            , HOME           , PGDN           , PGUP           , END            ]
      thumbs:
        - [NONE           , NONE           , NONE           ]
        - [DEL            , ENT            , BSPC           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  MEDIA:
    core: # (3x5)
      left:
        - [QK_BOOT        , NONE           , NONE           , NONE           , NONE           ]
        - [LGUI           , LALT           , LCTL           , LSFT           , NONE           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      right:
        - [RM_TOGG        , RM_NEXT        , RM_HUEU        , RM_SATU        , RM_VALU        ]
        - [NONE           , MPRV           , VOLD           , VOLU           , MNXT           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [NONE           , NONE           , NONE           ]
        - [MSTP           , MPLY           , MUTE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

  FUN:
    core: # (3x5)
      left:
        - [F12            , F7             , F8             , F9             , PSCR           ]
        - [F11            , F4             , F5             , F6             , SCRL           ]
        - [F10            , F1             , F2             , F3             , PAUS           ]
      right:
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
        - [NONE           , LSFT           , LCTL           , LALT           , LGUI           ]
        - [NONE           , NONE           , NONE           , NONE           , NONE           ]
      thumbs:
        - [APP            , SPC            , TAB            ]
        - [NONE           , NONE           , NONE           ]
    extensions:
      3x6_3:
        outer_pinky_left: [NONE, NONE, NONE]
        outer_pinky_right: [NONE, NONE, NONE]
      3x5_3_pinky:
        outer_pinky_left: NONE
        outer_pinky_right: NONE

